@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,600,700&display=swap');

body {
    font-family: 'Titillium Web', sans-serif;
    background: #ecf0f1;
}

.done {
    color: green;
    text-decoration: line-through;
}

.container {
    background: #F7F7F7;
    width: 400px;
    max-height: 500px;
    margin: 100px auto;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3)
}

h1 {
    text-align: center;
    background: #2980B9;
    color: white;
    text-transform: uppercase;
    padding: 10px 20px;
    font-weight: normal;
    font-size: 25px;
    margin: 0;
}

input {
    background: #F7F7F7;
    width: 100%;
    padding: 13px 13px 13px 20px;
    box-sizing: border-box;
    border: 3px solid rgba(0, 0, 0, 0);
    color: #2980B9;
    font-size: 20px;
}

input:focus {
    border: 3px solid #2980B9;
    outline: none;
    background: white;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    background: white;
    height: 40px;
    line-height: 40px;
    color: #E47373;
    text-align: center;
}

li:nth-child(2n) {
    background: #F7F7F7;
}

#task {
    max-height: 380px;
    overflow: auto;
}

#task::-webkit-scrollbar {
    -webkit-appearance: none;
}

#task::-webkit-scrollbar:vertical {
    width: 10px;
}

#task::-webkit-scrollbar-button:increment,#task::-webkit-scrollbar-button {
    display: none;
} 

#task::-webkit-scrollbar:horizontal {
    height: 10px;
}

#task::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

#task::-webkit-scrollbar-track {
    border-radius: 10px;
}

.delete {
    background: #E74C3C;
    color: white;
    height: 40px;
    text-align: center;
    width: 0px;
    float: left;
    opacity: 0;
    transition: 0.2s linear;
}

li:hover span {
    width: 40px;
    opacity: 1;
}
